{% extends "base.html" %}

{% block title %}
   Página sssssssssssssss
{% endblock %}

{% block content %}
<br>
<br>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="container">
    <div class="row justify-content-center">
        {% for gestions in gestion %}
            <div class="col-lg-4 text-center">
                <img class="rounded-circle" src="{{ gestions.image.url }}" alt="Imagen" width="140" height="140">
                <h2>{{ gestions.title }}</h2>
                <p>{{ gestions.description|safe|truncatewords:10 }}</p>
                <p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
            </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div>
</div>

  <!-- START THE FEATURETTES -->
 <hr class="featurette-divider">
 {% if gestion %}
  <div class="row featurette"> 
    <div class="col-md-7">
      <h2 class="featurette-heading">{{ gestion.0.title }}</span></h2>
      <p class="lead">{{ gestion.0.description|safe }}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{gestion.2.image.url}}" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
  {% endif %}

  <hr class="featurette-divider">

  {% if gestion %}
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{gestion.1.title}}</h2>
      <p class="lead">{{gestion.1.description|safe}}</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{gestion.1.image.url}} " data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
  {% endif %}
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{gestion.2.title}}</h2>
      <p class="lead">{{gestion.2.description|safe}}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{gestion.2.image.url}}">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>

{% endblock %}



            
       
        