{%extends "base.html"%}

{%block title %}
Lista de Mineria
{% endblock %}

{% block content %}
<br>

<div class="container" style="border: 1px solid #000; border-radius: 10px;">
    {%for minerales in mineral%}
        <div class="row border-bottom py-2">
            <div class="col">
                <p>{{ minerales.nombre }}</p>
                <div class="text-end">
                    
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoModal" data-id="{{ minerales.id }}" onclick="loadMineralDetails({{ minerales.id }})">Ver Información</button>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ minerales.id }}"  onclick="deleteMineral({{ minerales.id }})"> Eliminar</button>

                </div>
              </div>
        </div>
    {% empty %}
        <p>No hay minerales para mostrar.</p>
    {% endfor %}
</div>
<br> 
<script>
    function deleteMineral(id) {
        if (id) {
          $('#mineralId').val(id);
          $('#deleteModal').modal('show');
        }
    }
    
    $(document).ready(function() {
        $('#deleteForm').on('submit', function(e) {
          e.preventDefault();
          var id = $('#mineralId').val();  
          $.ajax({
            url: '/mineria/delete_mineral/',
            data: {
              'id': id
            },
            dataType: 'json',
            success: function (data) {
              if (data.success) {
                $('#deleteModal').modal('hide');
                location.reload(true); 
              }
            }
          });
        }); 
    });
</script>
    


{% endblock %}

