{% extends 'base.html' %}

{% block title %}
  Lista de conductores
{% endblock %}

{% block content %}
  <div>
    <iframe src="/static/grafico/mi_grafico_Conductor.html" width="90%" height="600"></iframe>
  </div>

  <div class="container" style="border: 1px solid #000; border-radius: 10px;">
    {% for conductores in conductor %}
      <div class="row border-bottom py-2 align-items-center">
        <div class="col">
          <p class="d-inline-block mb-0">{{ conductores.transporte }}</p>
          <div class="d-inline-block float-end">
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoModal" data-id="{{ conductores.id }}" onclick="loadConductorDetails({{ conductores.id }})">Ver Información</button>

            <button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{ conductores.id }}">Eliminar</button>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No hay conductores para mostrar.</p>
    {% endfor %}
  </div>

  <!-- Modal para mostrar información -->
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información del conductor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="infoModalBody">
          <!-- Aquí se mostrará la información específica del conductor -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Modificar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para confirmar eliminación -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="deleteModalBody">
          ¿Estás seguro de que quieres eliminar este conductor?<input type="hidden" id="csrf" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
        </div>
      </div>
    </div>
  </div>  


  <script>
    function loadConductorDetails(id) {
      $.ajax({
        url: '/conductor/load_conductor_details/',
        data: {
          id: id
        },
        dataType: 'json',
        success: function (data) {
          $('#infoModalBody').html('<p>nombre: ' + data.nombre + '</p><p>licencia: ' + data.licencia + '</p><p>transporte: ' + data.transporte +'</p>')
          $('#infoModal').modal('show')
        }
      })
    }

    // function para eliminar dsde aquipra abajo
    $(document).ready(function () {
      // Obtiene el token CSRF de las cookies
      var csrftoken = getCookie('csrftoken')
    
      $('.delete-btn').click(function () {
        var id = $(this).data('id') // Obtiene el id del botón de eliminar
        $('#confirmDeleteButton').data('id', id) // Guarda el id en el botón de confirmación
      })
    
      $('#confirmDeleteButton').click(function () {
        var id = $(this).data('id')
        confirmDelete(id)
      })
    
      function confirmDelete(id) {
        $.ajax({
          url: '/conductor/delete_conductor/' + id,
          type: 'DELETE',
          beforeSend: function (xhr) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken)
          },
          success: function (result) {
            // Recarga la página o actualiza la lista de minerales
            location.reload()
          }
        })
      }
    
      // Función para obtener una cookie por su nombre
      function getCookie(name) {
        var cookieValue = null
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';')
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i])
            // ¿El cookie comienza con el nombre que queremos?
            if (cookie.substring(0, name.length + 1) === name + '=') {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
              break
            }
          }
        }
        return cookieValue
      }
    
      $('#infoModal').on('hidden.bs.modal', function (e) {
        $.ajax({
          url: '/conductor/listar',
          type: 'GET',
          success: function (result) {
            // Actualiza el HTML de tu página con la nueva lista de conductor
            $('#id_de_tu_lista_de_envio').html(result)
          }
        })
      })
    
      $('#confirmDeleteModal').on('show.bs.modal', function (e) {
        $('#deleteModalBody').html('¿Estás seguro de que quieres eliminar este conductor?')
      })
    })
  </script>
{% endblock %}
