{% extends 'base.html' %}

{% block title %}
  Lista de conductores
{% endblock %}

{% block content %}
  <div>
    <iframe src="/static/grafico/mi_grafico_Conductor.html" width="90%" height="600"></iframe>
  </div>

  <div class="container" style="border: 1px solid #000; border-radius: 10px;">
    {% for conductores in conductor %}
      <div class="row border-bottom py-2 align-items-center">
        <div class="col">
          <p class="d-inline-block mb-0">{{ conductores.transporte }}</p>
          <div class="d-inline-block float-end">
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoModal" data-id="{{ conductores.id }}" onclick="loadMineralDetails({{ conductores.id }})">Ver Información</button>

            <button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{ conductores.id }}">Eliminar</button>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No hay conductores para mostrar.</p>
    {% endfor %}
  </div>

  <!-- Modal para mostrar información -->
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información del conductor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="infoModalBody">
          <!-- Aquí se mostrará la información específica del conductor -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Modificar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    function loadMineralDetails(id) {
      $.ajax({
        url: '/conductor/load_conductor_details/',
        data: {
          id: id
        },
        dataType: 'json',
        success: function (data) {
          $('#infoModalBody').html('<p>nombre: ' + data.nombre + '</p><p>licencia: ' + data.licencia + '</p><p>transporte: ' + data.transporte +'</p>')
          $('#infoModal').modal('show')
        }
      })
    }
  </script>













{% endblock %}
