.card_form{
     width: 600px; 
     height: 610px; 
     margin: 0 auto; 
     border: 1px solid #ccc; 
     border-radius: 5px; 
     padding: 20px; 
     box-shadow: 0 0 10px #ccc;
}
.card_formDestino {
     width: 600px; 
     height: 560px; 
     margin: 0 auto; 
     border: 1px solid #ccc; 
     border-radius: 5px; 
     padding: 20px; 
     box-shadow: 0 0 10px #ccc;
}

.form-label {
     display: block;
 }
 



.btn-centrado {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 

footer {
     background-color: #f8f8f8;
     padding: 20px; 
     text-align: center;
}